/* partie utilisant les variables TiddlyWiki */
html {
	font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily}};
}
html:-webkit-full-screen {
	background-color: <<colour page-background>>;
}

body {
   font-size: {{$:/themes/tiddlywiki/vanilla/metrics/fontsize}};
   line-height: {{$:/themes/tiddlywiki/vanilla/metrics/lineheight}};
   color: <<colour foreground>>;
   background-color: <<colour background>>;
   fill: <<colour foreground>>;
}

h1, h2, h3, h4, h5, h6 {
   font-family: {{$:/themes/tiddlywiki/vanilla/settings/fontfamily}};
   color: <<colour tiddler-title-foreground>>
}

a, a:visited, a:focus, a:hover {
   color: <<colour primary>>;
}

input.simple {
  border-color: <<colour page-background>>;
  color: <<colour foreground>>;
}

.tc-btn-invisible {
  color: <<colour foreground>>;
  fill: <<colour foreground>>;
}

.tc-improvement-banner {
  background: <<colour primary>>;
  color:white;
  }
.tc-improvement-banner a,
  .tc-improvement-banner a:visited,
  .tc-improvement-banner a:hover {
    color:white
    }

/* partie sans variables */
html {
  text-rendering: optimizeLegibility;
  /* Enables kerning and ligatures etc. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0 2px 0;
}

h1 {
  font-size: 175%
}

h2 {
  font-size: 150%
}

.tc-titlebar h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 130%
}

h4 {
  font-size: 115%
}

h5 {
  font-size: 105%
}

h6 {
  font-size: 100%
}

a.tc-tiddlylink-external {
  text-decoration: underline;
}

ol, ul {
  margin: 0 0 0 0;
  padding: 0
}

ol ol, ol ul, ul ol, ul ul {
  margin: 0 0 0 .8rem
}

ol li, ul li {
  margin-top: 0
}

textarea, input[type=text].simple {
  border: none;
  border-bottom: 1px solid;
  font-family: monospace;
  font-size:.95em;
}

textarea {
  border-top: 1px solid;
}

textarea, input[type=text].long {
  width: 25em;
}


.tc-tiddler-body {
  text-align: justify;
}

.tc-btn-big-green {
  display: inline-block;
  padding: 8px;
  margin: 4px 8px 4px 8px;
  background: #34c734;
  color: #ffffff;
  fill: #ffffff;
  border: none;
  font-size: 1.2em;
  line-height: 1.4em;
  text-decoration: none;
}

.tc-btn-big-green svg, .tc-btn-big-green img {
  height: 2em;
  width: 2em;
  vertical-align: middle;
  fill: #ffffff;
}

.tc-improvement-banner {
  font-size: 0.7em;
  padding-left: 5px;
  margin-top: 6px;
  margin-bottom: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.tc-improvement-banner svg {
  width: 1em;
  height: 1em;
  fill: white
}

.toc-item {
  line-height: 1;
}

.off-canvas .off-canvas-toggle {
  left: unset;
  right: .4rem;
}

.docs-brand {
  margin: 0;
}

.docs-sidebar {
  opacity: .95;
  box-shadow: 0 0 .5rem #555;
  position: fixed !important;
}

.docs-sidebar .docs-nav {
  padding: 0;
  margin-top: 0;
}

.docs-navbar {
  background: none;
}

.docs-sidebar .accordion {
  margin: 0 6px;
}

.docs-sidebar .accordion input~.accordion-header {
  font-size: 100%;
  font-weight: 400;
  text-transform: unset;
  line-height: 1.25;
}

.docs-sidebar .accordion input:empty~.accordion-header:before {
  content: "\25BE";
}

.docs-sidebar .accordion input:checked~.accordion-header:before {
  content: "\25B4";
}

.accordion {
  font-size: 90%;
}

.off-canvas .off-canvas-sidebar {
  width: 75%;
}

.docs-sidebar .docs-nav {
  width: 100%;
}

.off-canvas .off-canvas-content {
  padding: 0;
  margin: 0;
}

.off-canvas .off-canvas-content .docs-content {
  padding: 0 1rem .5rem 1rem;
}

.docs-content>.container {
  max-width: unset;
}

/* R E S P O N S I V E */
@media (min-width:480px) {
  .off-canvas .off-canvas-sidebar, .docs-sidebar .docs-nav {
    width: 66%;
  }
}

@media (min-width:600px) {
  .off-canvas .off-canvas-sidebar {
    width: 50%;
  }
}

@media (min-width:840px) {
  .off-canvas .off-canvas-sidebar {
    width: 28%;
  }
  
  .sw-flex {
    display: flex;
  }
  .sw-flex>div {
    padding:0 1em;
  }
  .sw-flex>div:first-child {
    padding-left:0;
  }
  .sw-flex>div:last-child {
    padding-right:0;
  }
}

@media (min-width:960px) {
  .tc-improvement-banner {
    margin-right: -53px;
    margin-left: -53px;
  }

  .tc-improvement-banner:before {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: " ";
    margin-left: -5px;
    margin-top: -10px;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid gray;
    border-bottom: 5px solid gray;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .docs-content-tiddler {
    flex-grow: 50;
    flex-shrink: 1;
    flex-basis: 240px;
    max-width: 700px;
    padding: .5em 2.5em .5em 0;
  }

  .sw-navigation {
    padding-left: 1em;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 240px;
    padding: .5em .5em .5em 1.5em;
    border-left: #ddd 1px solid;
  }

  .off-canvas .off-canvas-sidebar, .docs-sidebar .docs-nav {
    width: 240px;
  }

  .off-canvas .off-canvas-content {
    margin: 0 0 0 240px;
  }

  .off-canvas .off-canvas-content .docs-content {
    width: calc(100vw - 240px);
  }
}